<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center" style ="    margin-top: -120px;">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome To EniClubs!</h1>
          <p class="text-lead text-light">Remplir ce formulaire pour lancer une demande de creation d'un nouveau club</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5" style ="    margin-bottom: -150px;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7" style ="    margin-left: 650px;
    margin-top: -100px;">
      <div class="card bg-secondary shadow border-0" style ="height: 92%;">

        <div class="card-body px-lg-5 py-lg-5" style ="    margin-top: -40px;">
          <div class="text-center text-muted mb-4">
            <small>Demande Lancement Club</small>
          </div>
          <form role="form">
            
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                </div>
                <input class="form-control" placeholder="Nom de club" type="nom-c">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                </div>
                <input class="form-control" placeholder="Type de club" type="type-c">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge "></i></span>
                </div>
                <input class="form-control" placeholder="Nom de President" type="nom-p">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                </div>
                <input class="form-control" placeholder="Email de President" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                </div>
                <input class="form-control" placeholder="Tel President" type="tel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-books"></i></span>
                </div>
                <input class="form-control" placeholder="Nombre Max des membres" type="nbmembre">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-books"></i></span>
                </div>
                <input class="form-control" placeholder="Description" type="description">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-time-alarm"></i></span>
                </div>
                <input class="form-control" placeholder="Date de Lancement" type="date">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-books"></i></span>
                </div>
                <input class="form-control" placeholder="Budget de Club" type="budget">
              </div>
            </div>
            

            <div class="text-center">
              <button   routerLinkActive="active" [routerLink]="['/emploiExa']"type="button" class="btn btn-primary my-4">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<img  style="    margin-top: -700px; margin-left: 50px;
position: absolute;" src="../assets/img/brand/grp.png">