<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7" style ="margin-top: -100px;">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome To Smart University!</h1>
            <p class="text-lead text-light">Merci de déposer Votre Justification</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7" style ="
          margin-left: 550px;">
        <div class="card bg-secondary shadow border-0" style ="height: 90%;
        margin-top: -90px;">

          <div class="card-body px-lg-5 py-lg-5" style ="margin-top: -20px;">
            <div class="text-center text-muted mb-4">
              <small>Déposer justification</small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                  </div>
                  <input class="form-control" placeholder="Nom" type="nom">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                  </div>
                  <input class="form-control" placeholder="Prenom" type="prenom">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-books"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-books"></i></span>
                  </div>
                  <input class="form-control" placeholder="Date" type="date">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-books"></i></span>
                  </div>
                  <input class="form-control" placeholder="Type d'absence" type="Type">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-books"></i></span>
                  </div>
                  <input class="form-control" placeholder="Document Justificatif" type="document">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img  style="    margin-top: -780px; widht:30%;
  position: absolute;" src="../assets/img/brand/malade1.png">
  
